RewriteEngine On
RewriteBase /FMF/Gold



RewriteRule ^login/([a-zA-Z0-9_-]+)$  php/login/login_form.php?branch=$1 [NC,L]

RewriteRule ^Logout  php/Dashboard.php?logout=true [NC,L]



RewriteRule ^Dashboard  php/Dashboard.php?type=Dashboard [NC,L]
RewriteRule ^Sangla php/Dashboard.php?type=Sangla [NC,L]
RewriteRule ^Patubo  php/Dashboard.php?type=Patubo [NC,L]
RewriteRule ^Redeem  php/Dashboard.php?type=Redeem [NC,L]




